* {
    box-sizing: border-box;
    

    
}
@mixin center-column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
body {

    @include center-column-flex();
    font-family: 'Outfit', sans-serif;
    
    
    

    main {
        
        @include center-column-flex();
        width: min(100%, 375px);
        background-color: #1A2A33;
        height: 667px;

        .App {

            position: relative;
            width: 327px;
            height: 429px;
        }
    }

    @media screen and (min-width: 768px) {

        main {
            width: 768px;
            height: 1024px;

            .App {
                width: 460px;
                height: 471px;
            }
        }
    }

    @media screen and (min-width: 1440px) {

        main {
            width: 1440px;
            height: 900px;

            .App {
                width: 460px;
                height: 471px;
            }
        }
    }
  
}